
/* Set the background image to cover the entire page */
html{
   height: 100%;
   background-image: url('./images/weather-app-bg.jpeg');
   background-repeat: no-repeat;
   background-size: cover; /* This will make the background image cover the entire page */
   backdrop-filter: blur(16px); /* Adjust the pixel value for the desired blur effect */


}

body {
   margin: 0;
   backdrop-filter: blur(16px); /* Adjust the pixel value for the desired blur effect */

}

/* Define the font for card elements */
.card {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style for the header section */
header {
   background-color: rgb(249, 231, 128);
   padding: 20px;
   text-align: center;
   font-size: 24px;
   font-weight: bolder;
   margin: 0;
   color: rgb(6, 15, 25);
}

/* Add margin to columns in small and medium screens */
.col.s12.m4 {
   margin-top: 20px;
}
.card{
   background-color: rgb(246, 236, 128);
border-radius: 10px;
   margin: 3px;
  min-height: 300px;
}
/* Style for forecast details and cards */
.forecast-details{
   margin-bottom: 20px;
   padding: 5px;
   /* margin-left: 10px; */
   margin-right: 10px;
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
}

/* Style for the search label text */
.search-label {
   color: white;
}

/* Style for the city input */
#city-input {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: x-large;
}

/* Media query for screens with a width of 599px or less */
@media only screen and (max-width: 599px) {
   .row {
       margin: 2px;
       padding: 0 20px 0 20px;
   }

   .card-content {
       padding: 20px;
   }

   .col.s12.m4 {
       margin-top: 10px;
   }

   .card {
       margin-top: 10px;
       margin-bottom: 10px;
   }

   /* Adjust header font size for smaller screens */
   header {
       font-size: 20px;
   }
}
